
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" type="text/javascript"></script>
	<script src="mineFieldCore.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="estilos.css">
	<meta charset="utf-8">
</head>
<body ng-app = "mainApp">

	<div ng-controller="arenaController">
		Tempo total: {{tempoTotalDeJogo}} <br>
		Total tesouros: {{totalTesourosEncontrados}} de {{quantidadeDeTesouros}} <br>
		Fase: {{level}}

		<table border="1">
			<tr ng-repeat="linha in arena.linhas">
				<td ng-repeat="celula in linha.celulas" ng-click="marcar(celula)">
					<span ng-if="celula.conteudo === 'X' || celula.conteudo === ':D'">{{celula.conteudo}}</span>
					<span ng-if="celula.conteudo !== 'X' && celula.conteudo !== ':D' && celula.valor > 0">{{celula.valor}}</span>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>